* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.button {
  display: inline-block;
}

.big {
  border-radius: 30px;
  padding: 15px 30px;
}

.black {
  background-color: #22272a;
  color: white;
}

.white {
  background-color: white;
  color: #22272a;
}

.blue {
  background-color: #89a2e6;
  color: white;
  font-weight: bold;
}

.discord-color {
  color: #5870b0;
}

.translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wave {
  background-image: url("../img/wave.svg");
  height: 130px;
}

.wave-rotate {
  background-image: url("../img/wave.svg");
  height: 130px;
  transform: rotate(180deg);
}

.footer-div {
  /*   border: 2px solid white; */
  height: 100px;
  width: 12%;
  padding-top: 10px;
}
/* ------------------------------ */

/* Impostazione Header */
.jumbotron {
  background: url("../img/jumbo.png");
  height: 610px;
  background-size: cover;
}

.info-container {
  /* border: 2px solid black; */
  margin: 0 auto;
  width: 1350px;
}

.info-contained {
  padding-top: 25px;
  /* margin-top: 20px; */
}

.info-contained a {
  font-weight: bold;
  margin: 0 30px;
}

.translate a {
  color: white;
}

.small {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
}

#navbar {
  position: relative;
}

#navbar > ul {
  list-style: none;
}
/*  */

/* Creazione Sezione Header */

.jumbo-section {
  height: 300px;
  margin-top: 60px;
  position: relative;
  text-align: center;
  color: white;
}

.translate > h1 {
  font-size: 60px;
  margin-bottom: 50px;
  width: 1200px;
}

.translate > p {
  font-size: 22px;
  width: 850px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
}

.lil-div {
  text-align: center;
}

.down-arrow {
  padding-right: 5px;
}

.lil-div a {
  font-weight: 500;
  margin: 0 12px;
  font-size: 22px;
}

/* Proprietà primo container */

.container {
  height: 680px;
  /* background-color: purple; */
  width: 1350px;
  margin: 0 auto;
  text-align: center;
}

.container header {
  height: 130px;
  /* background-color: royalblue; */
}

.container-text {
  margin-top: 40px;
  width: 40%;
  /* background-color: saddlebrown; */
  text-align: left;
  color: #22272a;
  padding: 0 80px;
}

.container-text > h1 {
  margin-bottom: 35px;
  font-size: 50px;
}

.container-text > p {
  font-size: 22px;
}

/* Sezione 2 */

.container-overlay {
  height: 680px;
  background-color: #f6f6f6;
  margin: 0 auto;
  text-align: center;
}

/* Sezione 4 */
.container4 {
  height: 1000px;
  /* background-color: purple; */
  width: 1350px;
  margin: 0 auto;
  text-align: center;
}

.container4 header {
  height: 130px;
  /* background-color: royalblue; */
}

.container4-overlay {
  height: 1150px;
  background-color: #f6f6f6;
  margin: 0 auto;
  text-align: center;
}

.container4-text {
  /* background-color: saddlebrown; */
  color: #22272a;
  margin-bottom: 40px;
  font-size: 22px;
}

.container4-text > h1 {
  margin-bottom: 35px;
  font-size: 55px;
}

.end-h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

footer {
  height: 650px;
  background-color: #22272a;
}

.footer {
  margin: 0 auto;
  width: 1350px;
}

.footer header {
  height: 80px;
}

.footer div.clearfix {
  height: 360px;
  width: 1350px;
  margin: 0 auto;
  border-bottom: 1px solid #465985;
}

.footer-div.one {
  padding: 0;
  width: 25%;
}

.footer-div.two {
  margin-left: 80px;
}

.footer-div.three {
  margin: 0 80px;
}

.footer-div.four {
  margin-right: 80px;
}

.footer-text h1 {
  margin-bottom: 25px;
}

.footer-div span {
  color: white;
}

.footer-div span img {
  width: 25px;
}

.social {
  margin-top: 15px;
}

.social img {
  width: 25px;
  margin-right: 10px;
  display: inline-block;
}

.footer-text p {
  line-height: 30px;
  color: white;
}

.end-of-the-end {
  position: relative;
  margin-top: 30px;
}

.end-of-the-end div:first-child {
  position: absolute;
  left: 0;
}

.end-of-the-end div:last-child {
  position: absolute;
  right: 0;
}
